.#{$panel-name} {
	/* #region Относительное позиционирование */
	position: relative;
	/* #endregion */
	/* #region Цвет фона, тень */
	background-color: $panel-background;
	@include box-shadow($panel-boxShadow);
	/* #endregion */
	/* #region Размер элемента */
	width: $panel-width;
	height: $panel-height;
	/* #endregion */
	/* #region Внутренний отступ */
	padding: $panel-padding;
	/* #endregion */
	/* #region Положение элемента по оси Z */
	z-index: $panel-zIndex;
	/* #endregion */
}
