$panel-name: 'panel' !default;
$panel-background: #fff !default;
$panel-boxShadow: none !default;
$panel-width: 270px !default;
$panel-height: 100% !default;
$panel-padding: 20px 10px !default;
$panel-zIndex: 1 !default;
