@mixin button_color($options: ()) {
	$configuration: map-merge((
		_color: #fff,
		_background: #000
	), $options);

	// Убедимся, что _color и _background являются цветом
	@if type-of(map-get($configuration, _color)) != color or type-of(map-get($configuration, _background)) != color {
		@warn "Either `#{_color}` or `#{_background}` is not a color for `button_color`";
	}

	color: map-get($configuration, _color);
	background-color: map-get($configuration, _background);
}

.#{$button-name} {
	@include button-reset;

	/* #region Относительное позиционирование */
	position: relative;
	/* #endregion */
	display: inline-block;
	background-image: none;
	border-width: $button-borderWidth;
	border-style: $button-borderStyle;
	border-color: $button-borderColor;
	@include border-radius($button-borderRadius);
	padding: 5px 12px;
	min-width: 80px;
	touch-action: manipulation;
	user-select: none;
	@include box-sizing(border-box);
	outline: none;

	/* #region Стили шрифта */
	font-family: $button-fontFamily;
	font-size: 16px;
	font-weight: $button-fontWeight;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	/* #endregion */

	& + .btn {
		margin-left: 5px;
	}
}
