.#{$button-name} {
	@include modifier("bordred") {
		@include box-shadow(inset 0 -2px 0 0 rgba(0, 0, 0, .1));
	}

	@include modifier("rounded") {
		@include border-radius(1.875em/*30px*/);
	}

	@each $key, $value in $button-schemes {
		@include modifier($key) {
			@include transition(background-color .2s $button-easing);

			@include button_color((
				_color: #fff,
				_background: $value
			));

			&:hover, &:active {
				@include button_color((
					_color: call(get-function(nth($button-hover, 1)), #fff, nth($button-hover, 2)),
					_background: call(get-function(nth($button-hover, 1)), $value, nth($button-hover, 2))
				));
			}
		}
	}
}

.btn--outline {
	color: darken(#3a3a3a, 3%);
	background-color: transparent;
	background-image: none;
	border-color: #3a3a3a;
}

.btn--outline_gradient {
	color: #3a3a3a;
	background: #fff;
	border: 0;

	&:hover {
		color: #3a3a3a;
		background-color: #fff;
	}

	&:before {
		content: "";
		position: absolute;
		top: -1px;
		right: -1px;
		bottom: -1px;
		left: -1px;
		border-radius: 2px;
		background-image: linear-gradient(45deg, map-get($button-schemes, success), map-get($button-schemes, warning));
		z-index: -1;
	}
}
