$button-name: 'btn' !default;

$button-fontFamily: inherit !default; /** Необходимо наследовать значение свойства у родительского элемента */
$button-fontWeight: bold !default;
$button-borderWidth: 1px !default;
$button-borderStyle: solid !default;
$button-borderColor: transparent !default;
$button-borderRadius: 3px !default;

$button-hover: lighten 10% !default;
$button-easing: cubic-bezier(.162, .85, .45, 1) !default;

/**
 * Палитра цветов.
 * @type Map
 */
$button-schemes: (
	default: #7f8c8d,
	success: #27ae60,
	danger: #c0392b,
	warning: #f1c40f,
	info: #2980b9
) !default;
