.#{$button-name} {
	@include modifier('lg') {
		padding: 9px 12px;
		font-size: 18px;
		line-height: 28px;
	}

	@include modifier('md') {
		padding: 5px 12px;
		font-size: 16px;
		line-height: 24px;
	}

	@include modifier('sm') {
		padding: 4px 12px;
		font-size: 14px;
		line-height: 18px;
	}

	@include modifier('xs') {
		padding: 1px 12px;
		font-size: 12px;
		line-height: 18px;
	}
}
