@mixin button-reset {
	/* #region Наследование стилей шрифта родителя */
	font: inherit;
	color: inherit;
	/* #endregion */
	/* #region Внутренний отступ (нет) */
	padding: 0;
	/* #endregion */
	/* #region Скругление углов (нет) */
	border: none;
	/* #endregion */
	/* #region Цвет заливки (прозрачный) */
	background-color: transparent;
	/* #endregion */
	/* #region Вид курсора */
	cursor: pointer;
	/* #endregion */
}

@import './_base';
@import './_variants';
