/* #region Построение ряда */

@mixin make-flex-row {
	@include flex-display();
	@include flex-flow(row wrap);

	@include modifier("around") { @include flex-justifyContent(space-around) }
	@include modifier("between") { @include flex-justifyContent(space-between) }

	@include modifier("start") { @include flex-justifyContent(flex-start) }
	@include modifier("center") { @include flex-justifyContent(center) }
	@include modifier("end") { @include flex-justifyContent(flex-end) }

	@include modifier("top") { @include flex-alignContent(flex-start) }
	@include modifier("middle") { @include flex-alignContent(center) }
	@include modifier("bottom") { @include flex-alignContent(flex-end) }
}

/* #endregion */

/* #region Построение колонок */

@mixin make-flex-column-modifiers($class) {
	@for $i from 1 through $grid-columns {
		@include modifier(#{$class}-#{$i}) {
			max-width: percentage($i / $grid-columns);

			@include flex-grow(0);
			@include flex-basis(percentage($i / $grid-columns));
		}
	}
}

@mixin make-flex-columns {
	@include flex(1 0 0);

	@media #{$media-screen-xs} { @include make-flex-column-modifiers(xs) }
	@media #{$media-screen-sm} { @include make-flex-column-modifiers(sm) }
	@media #{$media-screen-md} { @include make-flex-column-modifiers(md) }
	@media #{$media-screen-lg} { @include make-flex-column-modifiers(lg) }
}

/* #endregion */