/* #region Размеры контейнера */

/** Маленький размер контейнера. */
$grid-container-sm: pxToRem(720px + $grid-gutter-width, $body-fontSize);

/** Средний размер контейнера. */
$grid-container-md: pxToRem(940px + $grid-gutter-width, $body-fontSize);

/** Большой размер контейнера. */
$grid-container-lg: pxToRem(1140px + $grid-gutter-width, $body-fontSize);

/* #endregion */

$grid-half-gutter-width: pxToRem($grid-gutter-width / 2, $body-fontSize);

/* #region Построение контейнера */

@mixin make-container() {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-left: $grid-half-gutter-width;
	padding-right: $grid-half-gutter-width;
}

.container {
	@include make-container();

	@media #{$media-screen-sm} { width: $grid-container-sm }
	@media #{$media-screen-md} { width: $grid-container-md }
	@media #{$media-screen-lg} { width: $grid-container-lg }
}

.container-fluid {
	@include make-container();
}

/* #endregion */

/* #region Построение ряда */

.row {
	margin-left: $grid-half-gutter-width;
	margin-right: $grid-half-gutter-width;

	@include make-flex-row();
}

/* #endregion */

/* #region Построение колонок */

.col {
	position: relative;
	max-width: 100%;
	min-height: 1px;
	padding-left: $grid-half-gutter-width;
	padding-right: $grid-half-gutter-width;

	@include make-flex-columns();
}

/* #endregion */
