svg.icon {
	/* #region Относительное позиционирование */
	position: relative;
	/* #endregion */
	/* #region Размер элемента */
	width: $icon-width;
	height: $icon-height;
	/* #endregion */
	/* #region Цвет заливки */
	fill: $icon-fill;
	/* #endregion */
}
