@each $tag-name, $options in $heading-font-sizes {
	#{$tag-name}.#{$heading-name} {
		$size: map-get($options, 'size');
		$reduction: map-get($options, 'reduction');

		@include responsive-font-size($body-fontSize, 3vw, $size - $reduction, $size + $reduction, $size);
		line-height: 110%;
		font-weight: 300;
	}
}
