%input-focused {
	.#{$field-name} {
		@include element((), "input") {
			background-color: $field-input-background--focused;
			border-color: $field-input-borderColor--focused;
		}
	}
}

%input-unfocused {
	.#{$field-name} {
		@include element((), "input") {
			@include box-shadow(none);
		}
	}
}

%input-valid {
	.#{$field-name} {
		@include element((), "input") {
			border-color: $field-input-borderColor;
		}
	}
}

%input-error {
	.#{$field-name} {
		@include element((), "input") {
			border-color: $field-input-borderColor--error;
		}
	}
}

.#{$field-name} {
	margin-bottom: 15px;

	@include element((), "input") {
		/* #region Цвет заливки */
		background-color: $field-input-background;
		background-image: none;
		/* #endregion */
		/* #region Обводка элемента / Скругление углов */
		border-width: $field-input-borderWidth;
		border-style: $field-input-borderStyle;
		border-color: $field-input-borderColor;
		@include border-radius($field-input-borderRadius);
		/* #endregion */
		/* #region Тень */
		@include box-shadow($field-input-boxShadow);
		/* #endregion */
		/* #region Относительное позиционирование */
		position: relative;
		/* #endregion */
		/* #region Размер элемента */
		width: 100%;
		height: auto;
		/* #endregion */
		/* #region Внешний и внутренний отступ */
		margin: 0;
		padding: 8px 16px;
		/* #endregion */
		@include box-sizing(border-box);
		outline: none;
		/* #region Стили шрифта */
		font-family: $field-input-fontFamily;
		color: $field-input-fontColor;
		font-size: $field-input-fontSize;
		/* #endregion */
	}

	@if $field-input-placeholder {
		input::-webkit-input-placeholder { color: $field-input-placeholder-fontColor }
		input::-moz-placeholder { color: $field-input-placeholder-fontColor }
		input::-ms-input-placeholder { color: $field-input-placeholder-fontColor }
	}

	@if $field-input-spinbutton {
		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
			-webkit-appearance: none; 
			margin: 0; 
		}
	}

	input[type=search]::-webkit-search-cancel-button {
	}

	@include element((), "label") {
		display: inline-block;
		margin-bottom: 5px;

		/* #region Стили шрифта */
		color: $field-label-color;
		font-size: 16px;
		font-weight: 700;
		/* #endregion */

		@include element((),"asterisk") {
			// Empty
		}
	}

	@include modifier("focused") {
		@extend %input-focused;
	}

	@include modifier("unfocused") {
		@extend %input-unfocused;
	}

	@include modifier("valid") {
		@extend %input-valid;
	}

	@include modifier("error") {
		@extend %input-error;
	}
}

.help_block {
	display: block;
	margin-top: 5px;

	@include modifier("error") {
		color: #f00;
	}
}
