/* #region Общие переменные */
$field-name: 'field' !default;
/* #endregion*/
/* #region Переменные метки */
$field-label-color: #000 !default;
/* #endregion */
/* #region Переменные поля */
$field-input-fontFamily: inherit !default;
$field-input-fontColor: #000 !default;
$field-input-fontSize: pxToRem(14px, $body-fontSize) !default;
$field-input-background: #fff !default;
$field-input-background--focused: scale-color(#fff, $lightness: -2%) !default;
$field-input-borderWidth: 1px !default;
$field-input-borderStyle: solid !default;
$field-input-borderRadius: 3px !default;
$field-input-borderColor: scale-color(#fff, $lightness: -20%) !default;
$field-input-borderColor--focused: scale-color(#fff, $lightness: -40%) !default;
$field-input-borderColor--error: #f00 !default;
$field-input-boxShadow: inset 0 1px 2px rgba(0, 0, 0, .1) !default;
$field-input-placeholder: true !default;
$field-input-placeholder-fontColor: #000 !default;
$field-input-spinbutton: true !default;
/* #endregion */
