.#{$backdrop-name} {
	/* #region Фиксированное позиционирование */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* #endregion */
	/* #region Цвет фона */
	background-color: $backdrop-background;
	/* #endregion */
	/* #region Положение элемента по оси Z */
	z-index: $backdrop-zIndex;
	/* #endregion */
	/* #region Скрываем элемент по умолчанию */
	visibility: hidden;
	opacity: 0;
	/* #endregion */
	/* #region Плавность перехода */
	@include transition-arglist(opacity 0.5s, visibility 0s 0.5s);
	/* #endregion */

	@include modifier("is-active") {
		/* #region Показываем элемент */
		visibility: visible;
		opacity: 1;
		/* #endregion */
		/* #region Плавность перехода */
		@include transition(opacity 0.5s);
		/* #endregion */
	}
}
