.#{$drawer-name} {
	/* #region Фиксированное позиционирование */
	position: fixed;
	top: 0;
	left: 0;
	/* #endregion */
	/* #region Размер элемента */
	width: $drawer-width;
	height: $drawer-height;
	/* #endregion */
	/* #region Положение элемента по оси Z */
	z-index: $drawer-zIndex;
	/* #endregion */

	@include modifier("open") { visibility: visible; }
	@include modifier("closed") { visibility: hidden; }
}

.#{$drawer-name} {
	@include element((), "panel") {
		/* #region Абсолютное позиционирование */
		position: absolute !important;
		/* #endregion */
	}
}

$drawer-props: (
	horz: (
		axis: "x",
		position: ["left", "right"]
	),
	vert: (
		axis: "y",
		position: ["top", "bottom"]
	)
);

.#{$drawer-name} {
	@each $orient in $drawer-props {
		$axis: map-get(map-get($drawer-props, nth($orient, 1)), "axis");
		$positionArray: map-get(map-get($drawer-props, nth($orient, 1)), "position");

		@for $i from 1 through length($positionArray) {
			$positionItem: nth($positionArray, $i);

			&[data-position=#{$positionItem}] {
				.#{$drawer-name} {
					@include element((), "panel") {
						#{$positionItem}: 0;

						$positionValue: 100;
						@if $positionItem == "left" or $positionItem == "top" {
							$positionValue: -100;
						}

						will-change: transform;
						@include transition($drawer-transition);
						@include transform(translate#{to-upper-case($axis)}#{unquote("(#{$positionValue}%)")});

						@include modifier("is-visible") {
							@include transform(translate#{to-upper-case($axis)}#{unquote("(0)")});
						}
					}
				}
			}
		}
	}
}
