.#{$navbar-name} {
	background-color: $navbar-background;
	/* #region Относительное позиционирование */
	position: relative;
	/* #endregion */
	padding: $navbar-padding;
	/* #region Размеры элемента */
	width: $navbar-width;
	height: $navbar-height;
	/* #endregion */
	
	@include flex-display();
	@include flex-direction($navbar-direction);

	@include modifier("fixed") {
		/* #region Фиксированное позиционирование */
		position: fixed;
		top: 0;
		left: 0;
		/* #endregion */
		z-index: 10;
	}

	@include modifier("right") {
		left: unset;
		right: 0;
	}
}
