%input-hover {
	.#{$checkbox-name} {
		@include element((), "box") {
			// Empty
		}
	}
}

%input-checked {
	.#{$checkbox-name} {
		@include element((), "box") {
			/* #region Новое значения свойств */
			/* #region Цвет заливки */
			background: $checkbox-background--checked;
			/* #endregion */
			/* #endregion */

			&:hover {
				/* #region Новое значения свойств */
				/* #region Цвет заливки */
				background: $checkbox-background--checked--hover;
				/* #endregion */
				/* #endregion */
			}

			@include element((), "icon") {
				/* #region Новое значения свойств */
				/* #region Цвет заливки */
				background: $checkbox-icon-background--checked;
				/* #endregion */
				/* #endregion */
			}
		}
	}
}

%input-disabled {
	// Empty
}

.#{$checkbox-name} {
	@include element((), "box") {
		padding: 0;
		/* #region Относительное позиционирование */
		position: relative;
		/* #endregion */
		/* #region Размер элемента */
		width: $checkbox-width;
		height: $checkbox-height;
		/* #endregion */
		/* #region Цвет заливки */
		background: $checkbox-background;
		/* #endregion */
		/* #region Обводка элемента / Скругление углов */
		border: 1px solid $checkbox-borderColor;
		@include border-radius($checkbox-borderRadius);
		/* #endregion */
		display: inline-block;
		vertical-align: top;
		cursor: pointer;

		&:hover {
			/* #region Новое значения свойств */
			/* #region Цвет заливки */
			background: $checkbox-background--hover;
			/* #endregion */
			/* #endregion */
		}
	
		@include element((), "input") {
			opacity: 0;
			display: block;
			/* #region Абсолютное позиционирование */
			position: absolute;
			top: 0;
			left: 0;
			/* #endregion */
			/* #region Размер элемента */
			width: $checkbox-width;
			height: $checkbox-height;
			/* #endregion */
			/* #region Убираем внешний и внутренний отступ */
			margin: 0;
			padding: 0;
			/* #endregion */
			z-index: 1;
		}

		@include element((), "icon") {
			/* #region Свойства по умолчанию, изменения вносятся модификатором */
			/* #region Цвет заливки (прозрачный) */
			background: $checkbox-icon-background;
			/* #endregion */
			/* #endregion */
			/* #region Абсолютное позиционирование */
			position: absolute;
			top: $checkbox-icon-top;
			left: $checkbox-icon-left;
			/* #endregion */
			/* #region Размер элемента */
			width: pxToRem($checkbox-icon-width, $body-fontSize);
			height: pxToRem($checkbox-icon-height, $body-fontSize);
			/* #endregion */
			/* #region Скругление углов */
			@include border-radius($checkbox-borderRadius);
			/* #endregion */
		}
	}

	label {
		padding-left: pxToRem(12px, $body-fontSize);
		color: $checkbox-label-color;
		cursor: inherit;
	}

	@include modifier("checked") {
		@extend %input-checked;
	}

	@include modifier("disabled") {
		//@extend %input-disabled;
	}
}
