/* #region Общие переменные */
$checkbox-name: 'checkbox' !default;
/* #endregion*/

$checkbox-background: #fff !default;
$checkbox-background--hover: #ccc !default;
$checkbox-background--checked: #000 !default;
$checkbox-background--checked--hover: #ccc !default;
$checkbox-borderColor: #000 !default;
$checkbox-borderRadius: none !default;
$checkbox-width: 20px !default;
$checkbox-height: 20px !default;

$checkbox-icon-background: transparent !default;
$checkbox-icon-background--checked: #000 !default;
$checkbox-icon-width: 18px !default;
$checkbox-icon-height: 18px !default;
$checkbox-icon-top: unquote("calc(50% - #{$checkbox-icon-height} / 2)") !default;
$checkbox-icon-left: unquote("calc(50% - #{$checkbox-icon-width} / 2)") !default;

$checkbox-label-color: #000 !default;
