.#{$scrollable-name} {
	/* #region Относительное позиционирование */
	position: relative;
	/* #endregion */
	width: 100%;
	overflow: hidden;
	
	@include element((), #{$scrollable-item-name}) {
		/* #region Свойства по умолчанию, изменения вносятся модификатором */
		/* #region Устанавливаем как полностью прозрачный элемент */
		opacity: 0;
		/* #endregion */
		/* #region Игнорируем события */
		pointer-events: none;
		/* #endregion */
		/* #region Отправляем на задний план */
		z-index: 1;
		/* #endregion */
		/* #endregion */
		/* #region Абсолютное позиционирование */
		position: absolute;
		/* #endregion */
		/* #region Позиция и размер элемента */
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		/* #endregion */

		@include modifier("current") {
			/* #region Новое значения свойств */
			/* #region Устанавливаем как не прозрачный */
			opacity: 1;
			/* #endregion */
			/* #region Разрешаем реагировать на события */
			pointer-events: auto;
			/* #endregion */
			/* #region Отправляем на передний план */
			z-index: 2;
			/* #endregion */
			/* #endregion */
		}
	}
}
