@media (max-width: $screen-xs-max) {
	.hidden-xs-down {
		display: none;
	}
}

@media (min-width: $screen-xs-min) {
	.hidden-xs-up {
		display: none;
	}
}

@media (max-width: $screen-sm-max) {
	.hidden-sm-down {
		display: none;
	}
}

@media (min-width: $screen-sm-min) {
	.hidden-sm-up {
		display: none;
	}
}

@media (max-width: $screen-md-max) {
	.hidden-md-down {
		display: none;
	}
}

@media (min-width: $screen-md-min) {
	.hidden-md-up {
		display: none;
	}
}
