/**
 * Миксина добавляет тень к элементу.
 * @param {Arglist} $args Значение тени.
 */
@mixin box-shadow-arglist($args...) {
	@if $enable-shadows {
		-webkit-box-shadow: $args; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow: $args; /* Firefox 3.5 - 3.6 */
		box-shadow: $args; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	}
}

/**
 * Миксина добавляет тень к элементу.
 * @param {List} $shadow Значение тени.
 */
@mixin box-shadow($shadow) {
	@include box-shadow-arglist($shadow);
}
