@mixin grid-display() {
	display: -ms-grid;
	display: grid;
}

@mixin grid-columns($values) {
	-ms-grid-columns: $values;
	grid-template-columns: $values;
}

@mixin grid-column($value) {
	-ms-grid-column: $value;
	grid-column: $value;
}

@mixin grid-rows($values) {
	-ms-grid-rows: $values;
	grid-template-rows: $values;
}

@mixin grid-row($value) {
	-ms-grid-row: $value;
	grid-row: $value;
}
