/**
 * Миксина перехода.
 * @param {Arglist} $args Значение перехода.
 */
@mixin transition-arglist($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-o-transition: $args;
	transition: $args;
}

/**
 * Миксина перехода.
 * @param {List} $transition Значение перехода.
 */
@mixin transition($transition) {
	@include transition-arglist($transition);
}
