:export {
	rangebar_active_background_start: $rangebar-active-background-start;
	rangebar_active_background_end: $rangebar-active-background-end;
	rangebar_active_thickness: $rangebar-active-thickness;
	rangebar_active_length: $rangebar-active-length;
	rangebar_active_border_radius: $rangebar-active-border-radius;
}  

.#{$rangeslider-name} {
	position: relative;
	width: $rangeslider-width;
	height: $rangeslider-height;

	@include element((), "trackbar") {
		position: absolute;
		background: $rangeslider-trackbar-background;
		border: $rangeslider-trackbar-border;

		@include modifier("horizontal") {
			top: 7px;
			width: $rangebar-active-length;
			height: $rangeslider-trackbar-thickness;
		}

		@include modifier("vertical") {
			left: 7px;
			width: $rangeslider-trackbar-thickness;
			height: $rangebar-active-length;
		}
	}

	@include element((), "trackbar-range") {
		position: absolute;
		top: $rangeslider-trackbar-range-top;
		width: 0;
		height: $rangeslider-trackbar-range-thickness;
		background: $rangeslider-trackbar-range-background;
	}
	
	@include element((), "handle") {
		position: absolute;
		width: $rangeslider-handle-width;
		height: $rangeslider-handle-height;
		background: $rangeslider-handle-background;
		border: $rangeslider-handle-border;
		cursor: pointer;
		cursor: -webkit-grab;
		cursor: grab;

		@include modifier('focused') {
			// Empty
		}

		@include modifier('hovered') {
		}
	}
}
