$rangeslider-name: 'rangeslider' !default;

$rangebar-active-background: #000 !default;
$rangebar-active-background-start: $rangebar-active-background !default;
$rangebar-active-background-end: $rangebar-active-background !default;
$rangebar-active-thickness: 6px !default;
$rangebar-active-length: 100% !default;
$rangebar-active-border-radius: 0 !default;

$rangeslider-width: 100% !default;
$rangeslider-height: 100% !default;

$rangeslider-trackbar-background: #fff !default;
$rangeslider-trackbar-border: 1px solid #000 !default;
$rangeslider-trackbar-thickness: 6px !default;

$rangeslider-trackbar-range-background: #000 !default;
$rangeslider-trackbar-range-thickness: 2px !default;
$rangeslider-trackbar-range-top: ($rangeslider-trackbar-thickness / 2) - $rangeslider-trackbar-range-thickness !default;

$rangeslider-handle-background: #fff !default;
$rangeslider-handle-border: 1px solid #000 !default;
$rangeslider-handle-width: 20px !default;
$rangeslider-handle-height: 20px !default;
