$screen-xs: 480px;
$screen-xs-min: pxToRem($screen-xs, $body-fontSize);

$screen-sm: 768px;
$screen-sm-min: pxToRem($screen-sm, $body-fontSize);

$screen-md: 992px;
$screen-md-min: pxToRem($screen-md, $body-fontSize);

$screen-lg: 1200px;
$screen-lg-min: pxToRem($screen-lg, $body-fontSize);

$screen-xs-max: $screen-sm-min - pxToRem(1, $body-fontSize);
$screen-sm-max: $screen-md-min - pxToRem(1, $body-fontSize);
$screen-md-max: $screen-lg-min - pxToRem(1, $body-fontSize);

$media-screen-xs: "only screen and (max-width: #{$screen-xs-max})";
$media-screen-sm: "only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";
$media-screen-md: "only screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";
$media-screen-lg: "only screen and (min-width: #{$screen-lg-min})";
