html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: $body-fontFamily;
	font-size: $body-fontSize;
	line-height: $body-lineHeight;
	color: $body-fontColor;
	background: $body-background;
	position: relative;
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
	width: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

svg:not(:root) {
	overflow: hidden;
}
