/**
 * Шрифт тела по умолчанию.
 * @type List
 */
$body-fontFamily: Arial, sans-serif !default;

/**
 * Размер шрифта по умолчанию.
 * @type Number
 */
$body-fontSize: 16px !default;

/**
 * Высота строки по умолчанию.
 * @type Number
 */
$body-lineHeight: 1.5 !default;

/**
 * Цвет текста тела по умолчанию.
 * @type Color
 */
$body-fontColor: #333 !default;

/**
 * Цвет фона тела по умолчанию.
 * @type Color
 */
$body-background: #fff !default;

/**
 * Включает `<true>` округление углов.
 * @type Boolean
 */
$enable-rounded-corners: true !default;

/**
 * Включает `<true>` тени у элементов.
 * @type Boolean
 */
$enable-shadows: true !default;
